html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}

a{
	color: inherit;
}


.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}





