@mixin m500{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
@mixin r300{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
@mixin r400{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@mixin r700{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

$black: #242424;
$grey: #7e7e7e;
$accent: #57c5a0;
$bggrey: #edece8;
$dgrey: #2e2e2e;