@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    &__black {
        background-color: $black;
        color: $grey;
        min-height: 46px;
        &-logo {
            @include m500;
            font-size: 25px;
            text-transform: uppercase;
            color: $accent;
        }
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
        }
        &-login {
            font-size: 11px;
            display: flex;
            text-transform: uppercase;
            align-items: center;
            span {
                text-transform: lowercase;
                margin: 5px;
            }
        }
    }
    &__white {
        background-color: #fff;

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 60px;
            height: 100%;
        }
    }
    &__nav {
        &-list {
            display: flex;
        }
        &-item {
            padding: 0 20px;
            font-size: 16px;
            min-height: 60px;
            color: $black;
            border-left: 1px solid $grey;
            display: flex;
            align-items: center;
        }
        &-item:last-child {
            border-right: 1px solid $grey;
        }
    }
    &__stat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-raiting {
            padding: 0 20px 0 48px;
            font-size: 16px;
            min-height: 60px;
            color: #fff;
            border-left: 1px solid $grey;
            display: flex;
            align-items: center;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 20px;
                width: 20px;
                height: 20px;
                background-image: url(../images/star.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            span {
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $grey;
                border-radius: 5px;
            }
        }
        &-basket {
            padding: 0 20px 0 48px;
            font-size: 16px;
            min-height: 60px;
            color: #fff;
            border-left: 1px solid $grey;
            border-right: 1px solid $grey;
            display: flex;
            align-items: center;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 20px;
                width: 20px;
                height: 20px;
                background-image: url(../images/icons/basket.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            span {
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $accent;
                border-radius: 5px;
            }
        }
    }
}
.black {
    display: flex;
    &__search {
        background-image: url(../images/icons/search.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 14px;
        height: 14px;
        margin-right: 20px;
    }
    &__login {
        padding: 0 20px;
        height: 50px;
        position: relative;
        display: flex;
        align-items: center;
        &::before {
            position: absolute;
            content: "";
            background-color: $grey;
            width: 1px;
            height: 50px;
            left: 0;
            top: 0px;
        }
        &::after {
            position: absolute;
            content: "";
            background-color: $grey;
            width: 1px;
            height: 50px;
            right: 0;
            top: 0px;
        }
    }
}
.top {
    background-color: $bggrey;
    &__slider {
        background-color: $bggrey;
        min-height: 500px;
        &-inner {
            background-repeat: no-repeat;
            background-position: bottom -100px left 5%;
            background-size: auto 140%;
        }
        &-price {
            display: inline-block;
            padding: 30px 10px;
            background-color: $accent;
            color: #fff;
        }
        &-title {
            font-size: 40px;
            max-width: 284px;
            margin: 16px 0;
        }
        &-text {
            max-width: 350px;
            font-size: 20px;
        }
        &-img {
        }

        &-info {
            display: inline-block;
            padding: 70px 0 95px 50%;
        }
    }
    .slick-dots {
        position: absolute;
        display: flex;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        font-size: 0;
        height: 10px;
        background-color: #000;
        max-width: 940px;
        width: 100%;
        li {
            width: 25%;
            display: flex;
            justify-content: center;
            position: relative;
        }
        li + li ::before {
            content: "";
            height: 6px;
            width: 2px;
            background-color: $dgrey;
            position: absolute;
            left: 0;
            top: 2px;
        }
        button {
            width: 90%;
            height: 6px;
            margin-top: 2px;
            background-color: transparent;
            border: none;
            transition: all .3s;
        }
        .slick-active{
            button{
                background-color: $accent;
            }
        }
    }
}
.icons {
    &-list {
        display: flex;
        margin-top: 20px;
    }
    &-item a {
        display: block;
        width: 45px;
        height: 45px;
        background-color: #fff;
        position: relative;
        margin-right: 2px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // transform: translateY(-50%);
            width: 20px;
            height: auto;
        }
    }
}
.active {
    background-color: $dgrey;
    &__slider {
        padding: 30px 0 20px 0;
        color: $grey;
        .slick-current .active__slider-title {
            color: #fff;
        }
        &-item {
            text-align: center;
        }

        &-title {
            font-size: 18px;
        }
        &-text {
            font-size: 12px;
        }
    }
}
